@import url('./_mixins.scss');
@import url('./_variables.scss');
 

.product-inner {
  display:flex;
  flex-direction: column;
  padding: 39px 40px 39px 40px;
  p {
    margin:0;
  }

  h1{
    font-size:24px;
    margin: 0;
    font-weight: bold;
  }
  .product-price {
    font-weight:lighter;
    font-size:14px;
  }
  #product-description p{
    font-size: 12px;
    line-height: 18px;
    max-width:80%;
  }

  .product-photo {
    img {
      width:100%;
      height:100%;
      cursor: zoom-in;
    }
  }
}

@include above(1024px) {
  .product-inner {
    flex-direction: row;
  }
  .product-photos {
    width: 66%;
  }

  .product-details {
    width: 33%;
    padding-left:60px;
  }
  .product-details-inner {
    position:fixed;
  }
}

.button-size {
  padding-top:30px;
  border-bottom:1px solid #DFDFDF;
  padding-bottom:20px;
  label {
    font-weight:bold;
  }
  input {
    font-size: 14px;
    border-radius: 38px;
    padding: 8px 16px;
    border: none;
    margin-right: 5px;
    margin-top: 10px;
    font-weight: 400;
    line-height: 24px;
    font-family: 'IBM Plex Sans', sans-serif;
    background:#F1F1F1;
    color:black;
    transition:0.3s ease;
    outline:none;
    &.selected{
      background:#000000;
      color:white;
      border-radius: 38px;
    }
  }
}
.button-colour {
  margin-top:20px;
  label {
    font-weight:bold;
  }
}
.colour-select {
  width:32px;
  height:32px;
  border: none;
  background:none;
  background-position:center;
  &.selected {
   border: 1px solid black;
   border-radius:50%;
  }
}
.red {
  background-image: url("{{ 'red.png' | asset_img_url }}");
}
.green {
  background-image: url("{{ 'green.png' | asset_img_url }}");
}
.blue {
  background-image: url("{{ 'blue.png' | asset_img_url }}");
}
.shopify-product-form {
  margin: 1em 0;
  padding: 1em 0;

  select {
    display: block;
    margin-bottom: 1em;

    &[data-variant-count="1"] {
      display: none;
    }
  }

  .button.add {
    display: inline-block;
    vertical-align: middle;
    background: white;
    border-width: 0;
    color: black;
    font-size: 11px;
    border-radius: 28px;
    transition: background-color 0.2s ease;
    width: 100%;
    border: 1px solid #dfdfdf;
    height: 48px;
    transition:0.3s ease;
    &:hover {
      background-color: black;
      color:white;
    }
  }
}